header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 26px auto 12px;
  background-color: #fff;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  position: relative;
}
header .header_container {
  padding-bottom: 25px;
}
header .logo {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}
header .burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  z-index: 1001;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  position: relative;
  padding: 4px;
}
header nav ul li .item {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  color: #3d3d3d;
  padding-bottom: 25px;
  transition: color 0.3s ease;
}
header nav ul li .item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #46a358;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease, transform-origin 0s;
}
header nav ul li .item:hover, header nav ul li .item.active {
  color: #000000;
}
header nav ul li .item:hover::after, header nav ul li .item.active::after {
  transform: scaleX(1);
  transform-origin: left;
}
header nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  max-width: 372px;
  background-color: #fff;
  padding: 1rem 0;
  z-index: 1000;
}
header nav.open ul {
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
header .login {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 7px 17px;
  background: #46a358;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: 0.6s;
  margin-bottom: 18px;
}
header .login::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../../../../assets/icon/login_xl.svg");
  margin-right: 4px;
}
header .cart {
  position: relative;
  margin-right: 30px;
}
header .cart::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../../../../assets/icon/cart_xl.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_mobile {
  display: none;
}

.cart_items {
  position: absolute;
  top: 6px;
  right: 185px;
  padding: 1px 4px;
  background-color: #46a358;
  color: #fff;
  border-radius: 30%;
  font-size: 12px;
  z-index: 20;
}

.page_content {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1199px) {
  header {
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: none;
  }
  header .burger {
    display: block;
    position: relative;
    top: -11px;
  }
  header nav {
    display: none;
  }
  header nav.open {
    display: flex;
  }
  header .right {
    display: none;
  }
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }
  header .profile_mobile {
    display: block;
  }
}
@media (max-width: 1199px) {
  .page_content {
    max-width: 1133px;
    margin: auto;
  }
  .footer {
    max-width: 1133px;
    margin: auto;
  }
}
@media (max-width: 1104px) {
  .page_content {
    max-width: 1050px;
    margin: auto;
  }
  .footer {
    max-width: 1050px;
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .page_content {
    max-width: 960px;
    margin: auto;
  }
  .footer {
    max-width: 960px;
    margin: auto;
  }
}
@media (max-width: 884px) {
  .page_content {
    max-width: 860px;
    margin: auto;
  }
  .footer {
    max-width: 860px;
    margin: auto;
  }
}
@media (max-width: 834px) {
  .page_content {
    max-width: 810px;
    margin: auto;
  }
  .footer {
    max-width: 810px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .page_content {
    max-width: 748px;
    margin: auto;
  }
  .footer {
    max-width: 748px;
    margin: auto;
  }
}
@media (max-width: 431px) {
  .page_content {
    max-width: 420px;
    margin: auto;
  }
  .footer {
    max-width: 420px;
    margin: auto;
  }
}/*# sourceMappingURL=header.module.css.map */