@import url(./assets/fonts/font.css);


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  font-family: 'Cera Pro', 'PT Sans', sans-serif;
    overflow-y: scroll;
}
/* .container{
    max-width: 1200px;
    margin: auto;
} */

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
 
}
li{
     list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/* Адаптивность */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
